@font-face {
    font-family: 'marck_scriptregular';
    src: url('./fonts/MarckScript-Regular.woff2') format('woff2'),
         url('./fonts/MarckScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}